.definition {
    font-weight: bold;
    text-decoration: underline;
}
.code {
    background-color: #9e9e9e99;
    border-radius: 5px;
    border-color: black;
    border-style: solid;
    border-width: thin;
    padding: 2px 5px;
    padding: 10px 15px;
    font-family: 'Courier New', Courier, monospace;
}
.code .comment {
    font-style: italic;
    color: #12121292;
}
.block {
    display: block;
    margin-bottom: 50px;
    padding-left: 15px;
}
code {
    font-family: 'Courier New', Courier, monospace;
}